name: CI

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: Trass3r/setup-cpp@master
    - name: build
      run: |
        "32 bit/buildd3d_all.sh"
    - uses: actions/upload-artifact@v2
      with:
        name: staging
        path: wined3d-staging
    - uses: actions/upload-artifact@v2
      with:
        name: main
        path: wined3d
