name: CI

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mode: ["", "--staging"]
    steps:
    - uses: actions/checkout@v2
    - uses: Trass3r/setup-cpp@master
    - run: docker pull ubuntu:rolling
    - uses: satackey/action-docker-layer-caching@v0.0.11
      continue-on-error: true
    - uses: hendrikmuhs/ccache-action@v1
    - name: build
      run: |
        set -eux
        chmod +x build.sh
        docker build -t wine-build .
        docker run --rm -v `pwd`:/workspace wine-build ${{ matrix.mode }}
      continue-on-error: true
    - uses: actions/upload-artifact@v2
      with:
        name: main
        path: wined3d

    - uses: actions/upload-artifact@v2
      with:
        name: staging
        path: wined3d-staging
