name: CI

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:rolling
    strategy:
      matrix:
        mode: ["", "--staging"]
    steps:
    - uses: actions/checkout@v2
    - run: |
        set -eux
        export DEBIAN_FRONTEND=noninteractive
        sed -Ei 's/^# deb-src /deb-src /' /etc/apt/sources.list
        apt update
        apt-get build-dep wine -y
        apt install -y sudo clang mingw-w64 git ccache
    - uses: Trass3r/setup-cpp@master
    - uses: hendrikmuhs/ccache-action@v1.2
    - name: build
      run: |
        set -eux
        ./build.sh ${{ matrix.mode }}
      continue-on-error: true
    - uses: actions/upload-artifact@v3
      if: ${{ matrix.mode == '' }} 
      with:
        name: main
        path: wined3d

    - uses: actions/upload-artifact@v3
      if: ${{ matrix.mode == '--staging' }} 
      with:
        name: staging
        path: wined3d-staging
